:root{
    --bg-color:#0e1212;
    --primary-color:#4091e7;
    --font-family:'Oswald', sans-serif;
    --font-family-secondary:'Raleway', sans-serif;
    --font-color-primary:#fff;
    --h-font-size:clamp(2.4rem,10vw,4rem);
    --p-font-size:clamp(1.1rem,3vw,1.9rem);
}

html{
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    position:relative;
    margin: 0;
}

h2{
    color:var(--font-color-primary);
    position: absolute;
    top: 70px;
    left: 70px;
    font-family: var(--font-family);
    font-size: var(--h-font-size);
}

/* -- NavBar -- */
.header__nav{
    background-color:transparent;
}

.nav-item .nav-link{
    color:var(--font-color-primary);
    transition: color 500ms ease;
}


.nav-item .nav-link:hover{
    color:var(--primary-color);
}



/* -- Info -- */
.container__info-image img{
    max-width: 70%;
    max-height: 450px;
    border-top-right-radius:45%;
    border-top-left-radius:45%;
    -webkit-box-shadow: 12px 12px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 12px 0px 0px #000;
}

.container__info-info h1{
    font-size: var(--h-font-size) !important;
    font-family: var(--font-family);
}

.container__info-info p{
    color:var(--primary-color);
    font-size:var(--p-font-size);
    font-family: var(--font-family-secondary);
}

.container__icons i{
    color:var(--font-color-primary);
}

.container__icons a{
    text-decoration: none;
}



/* -- Conocimientos style -- */
.containerConocimientos{
    position: relative;
    height: auto;
    background-color: var(--primary-color);
    outline: none;
}

.custom-shape-divider-top-1707077498 {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707077498 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1707077498 .shape-fill {
    fill: #0E1212;
}


.containerConocimientos__div{
    position:relative;
    padding-top:170px;
    padding-bottom:50px;
}

.containerConocimientos__div--front img{
    max-width: 90px;
}

.containerConocimientos__div--back img{
    max-width: 90px;
}

.containerConocimientos__div h3{
    color:var(--font-color-primary);
    font-family: var(--font-family);
    font-size:2.2rem;
}

.original-button{
    position:absolute;
    bottom:5px;
    right:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: var(--font-color-primary);
    font-size: 18px;
    border-radius: 0px;
    width: 170px;
    height: 45px;
    transition: 0.5s;
    background-color: var(--primary-color);
    font-family: var(--font-family);
}

.original-button::before, .original-button::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.original-button::before {
    top: -4px;
    left: -4px;
}

.original-button::after {
    top: 4px;
    left: 4px;
}

.original-button:hover::before, .original-button:hover::after {
    top: 0;
    left: 0;
}

/* -- Container Particles -- */
.container__particles{
    position:relative;
    overflow: hidden;
    padding-top:170px;
    z-index: 100;
}

#particles-js{
    background-color: black;
}

.container__particles p{
    color:var(--primary-color);
    font-family: var(--font-family-secondary);
    font-size: var(--p-font-size);
}

canvas{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


/* -- Proyectos -- */
.containerProyectos{
    margin:0;
    padding:0;
}
.card{
    background-color: var(--bg-color);
}
.card img{
    max-height: 230px;
}

.card .card-title{
    color:var(--font-color-primary);
}

.card a{
    background-color: var(--primary-color);
}

/* -- Footer -- */
.footer{
    position:relative;
}

.custom-shape-divider-top-1707414867 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707414867 svg {
    position: relative;
    display: block;
    width: calc(227% + 1.3px);
    height: 58px;
}

.custom-shape-divider-top-1707414867 .shape-fill {
    fill: #000000;
}

.footer p{
    color:var(--font-color-primary);
    font-family: var(--font-family-secondary);
    font-size: 18px;
}

.footer a{
    text-decoration: none;
}

@media (min-width: 768px) {
    .container__info{
        display: flex;
        align-items: center;
    }

}



